$color2: rgba( 154, 87, 77, 1);
$color3: rgba( 253, 179, 172, 1);
$color4: rgba( 221, 93, 102, 1);
$color5: rgba( 253, 179, 172, 0.8);

body {
	  color: black;
	  background: url("../images/background.jpg");
		background-attachment: scroll;
	  background-size: 100%;
		background-repeat: no-repeat;
	  text-align: center;
	  font-family: 'Assistant', 'Helvetica', sans-serif;
	  font-size: 16px;
	  margin: 0;
		padding: 0;

	a { color: $color4; }
	a:hover { color: $color2; }

	header {
		padding-top: 3rem;
		img {
			width: 50%;
			height: 50%;
			max-width: 100%;
		}
	}

	.stickyline { font-family: 'Bad Script';font-size: 14px;
		position: sticky; top: 0px; background-color: $color5; padding: 0; }

	.intro {
		padding-bottom: 3rem;
		margin-left: 10%;
		margin-right: 10%;
		border-bottom-style: solid;
		border-bottom-color: $color4;
	}

	section {
		margin-left: 10%;
		margin-right: 10%;
		border-bottom-style: solid;
		border-bottom-color: $color4;
		padding-bottom: 3rem;
		padding-top: 3rem;

		.recipegrid {
			display: flex;
			flex: 1;
			.name { flex: 1; }
			.ingredients { flex: 2; }
			.preparation { flex: 3; text-align: left; }
			div { padding-left: 10px; padding-right: 10px; }
		}

		@media (max-width: 800px) {
			.recipegrid { display: block; }
		}

		h2 { font-family: 'Aleo';font-size: 32px;
			text-transform: uppercase; font-weight: 900; letter-spacing: 3px; }

		img { width: 80%; height: 80%; max-width: 100%; }

		h3 { font-family: 'Aleo';font-size: 22px;
			text-transform: uppercase; letter-spacing: 2px; margin-top: 29px;
			border-bottom-color: $color3; border-bottom-style: solid; padding-bottom: 20px;
			border-bottom-width: thick; }

		h4 { font-family: 'Bad Script';font-size: 18px;
			margin: 0; padding: 0; }

		h5 { font-family: 'Aleo';font-size: 18px;
			text-transform: uppercase; letter-spacing: 2px; text-align: left; }

		h6 { font-size: 18px; font-weight: bold;
			margin: 0; padding: 0; text-align: left; }

		ul {
			list-style-type: none; text-align: left; padding: 0;
			li { margin-bottom: 10px; }
		}

		.mochibrownie1 { width: 60%; height: 60% }
		.mochibrownie2 { width: 40%; height: 40% }
		.mochibrownie3 { width: 40%; height: 40% }

		.haupiapie4 { width: 30%; height: 30% }
		.haupiapie2 { width: 30%; height: 30% }
		.haupiapie3 { width: 30%; height: 30% }

		.sgcake2 { width: 31%; height: 31% }
		.sgcake4 { width: 55%; height: 55% }
	}

	footer {
		font-size: 16px;
		color: white;
		background-color: $color3;
		padding: 10px;
		margin-top: 5rem;
	}

}
